# vim: ft=zsh
# aliases and simple functions
#

# ohmyzsh
alias omr='omz reload'
alias omu='omz update'

# chezmoi
alias cm='chezmoi'
alias cma='chezmoi apply'
alias cmc='chezmoi cd'
alias cmd='chezmoi diff'
alias cme='chezmoi edit'
alias cmce='EDITOR=code chezmoi edit'
alias cmu='chezmoi update'

# git
alias gl='git log --graph --date=short -n 10'
alias gll='git log --graph --date=short'
alias glf='git log --graph --date=short -n 5 --pretty="format:%C(33)%ad%Creset %C(136)%H%C(70)%d%Creset%n%C(33)Author: %C(162)%an <%ae>%Creset%n%C(33)Commit: %C(162)%cn <%ce>%Creset%n%n    %C(33)%s%Creset%n%n%b"'
alias glfp='git log --graph --date=short -n 1 --pretty="format:%C(33)%ad%Creset %C(136)%H%C(70)%d%Creset%n%C(33)Author: %C(162)%an <%ae>%Creset%n%C(33)Commit: %C(162)%cn <%ce>%Creset%n%n    %C(33)%s%Creset%n%n%b"'
alias gllf='git log --graph --date=short --pretty="format:%C(33)%ad%Creset %C(136)%H%C(70)%d%Creset%n%C(33)Author: %C(162)%an <%ae>%Creset%n%C(33)Commit: %C(162)%cn <%ce>%Creset%n%n    %C(33)%s%Creset%n%n%b"'
alias glp='git log --date=short -n 1 --patch'
alias gllp='git log --date=short -n 5 --patch'
alias gpl='git pull'
alias gs='git status'
alias gss='git status -s'

# gemini
alias gm='pushd ~/workspace/gemini; gemini; popd'
alias gm='pushd ~/workspace/gemini; gemini; popd'

# tmux
alias tm='tmux'
alias tma='tmux att -t'
alias tml='tmux ls'

# These aliases enable us to paste example code into the terminal without the
# shell complaining about the pasted prompt symbol.
alias %= \$=

# zmv lets you batch rename (or copy or link) files by using pattern matching.
# https://zsh.sourceforge.io/Doc/Release/User-Contributions.html#index-zmv
autoload -Uz zmv
alias zmv='zmv -Mv'
alias zcp='zmv -Cv'
alias zln='zmv -Lv'

# usability
if type -p eza &> /dev/null
then
    alias l='eza --git --group-directories-first --icons --smart-group'
    alias lt='l -l --sort newest'
    alias llf='l -lf'                                       # files only, long format
    alias lld='l -lD'                                       # directories only, long format
    alias llh='l -l --hyperlink'                            # long format with hyperlink
elif type -p lsd &> /dev/null
then
    alias l='lsd --group-directories-first'
    alias lt='l -l --sort time --reverse'
else
    alias l='ls'
{{- if eq .chezmoi.os "darwin" }}
    alias l='ls -G'
{{- else }}
    alias l='ls --color=auto'
{{- end }}
    alias lt='l -ltr'
fi
alias la='l -a'
alias ll='l -l'
alias lla='l -al'

# default options for less
export LESS='-F -j4'

# c -> bat/batcat or cat
bat=( /usr/bin/bat(N) /usr/bin/batcat(N) /opt/homebrew/bin/bat(N) )
if type -p ${bat:0:1} &> /dev/null
then
    BAT_CMD=${bat:0:1}
    c() {
        if [[ $# -eq 1 && $1 == *.md ]] && type -p glow &> /dev/null; then
            glow -w 120 "$1"
        else
            ${BAT_CMD} --paging=never "$@"
        fi
    }
    alias B="| bat"
    export MANPAGER="sh -c \"col -bx | ${BAT_CMD} -p -l man\""
    export MANROFFOPT="-P -c"
    help() {
        "$@" --help 2>&1 | ${BAT_CMD} --plain --language=help
    }
else
    alias c=cat
fi


# fd -> fdfind
fdfind=( /usr/bin/fd(N) /usr/bin/fdfind(N) )
if type -p ${fdfind:0:1} &> /dev/null
then
    FD_CMD=${fdfind:0:1}
    if [[ "$FD_CMD" != */fd ]]; then
        alias fd=${FD_CMD}
    fi
fi

# fz
if type -p fzf &> /dev/null && [[ -n "$BAT_CMD" ]] && [[ -n "$FD_CMD" ]]
then
    alias fz="${FD_CMD} --type f . | fzf --preview \"${BAT_CMD} --color=always --style=numbers {}\" | xargs -d \"\n\" -I{} ${BAT_CMD} {}"
    alias fzv="${FD_CMD} --type f . | fzf --preview \"${BAT_CMD} --color=always --style=numbers {}\" | xargs -d \"\n\" -I{} vim {}"
{{ if eq .chezmoi.os "darwin" -}}
    alias fzo="${FD_CMD} --type f . | fzf --preview \"${BAT_CMD} --color=always --style=numbers {}\" | xargs -d \"\n\" -I{} open {}"
{{ else if eq .chezmoi.os "linux" -}}
    alias fzo="${FD_CMD} --type f . | fzf --preview \"${BAT_CMD} --color=always --style=numbers {}\" | xargs -d \"\n\" -I{} xdg-open {}"
{{ end -}}
fi

# global aliases
alias -g G='| grep -E '
alias -g GI='| grep -Ei '
alias -g GV='| grep -Ev '
alias -g GVI='| grep -Evi '
alias -g GC='| grep -Ec  '
alias -g GCI='| grep -Eci  '
alias -g L='| less'
alias -g LP='| less -l patch'
alias -g LY='| jless --yaml'
alias -g LJ='| jless'
alias -g LT='*(om[1])'
alias -g WL='| wc -l'

# dmesg
alias jdmesg="journalctl -t kernel -xf"
# ip
alias ip='ip --color=auto'
# fasd
alias v='fasd -fe vim'

# SSH
alias S='ssh'
alias SA='ssh-add'
alias SL='ssh-add -l'
alias SE='eval $(keychain --eval)'
function rtssh() {
    while true
    do
        ssh $*
        echo "retrying in 3..."
        sleep 3
    done
}

# CLIPBOARD
{{ if eq .chezmoi.os "darwin" -}}
alias -g CP='| pbcopy'
alias PS='pbpaste'
{{ else if eq .chezmoi.os "linux" -}}
alias -g CP='| wl-copy'
alias PS='wl-paste'
{{ end -}}
function CPF() {
    cat $1 CP
}
function PSF() {
    PS | tee $1
}
function PSA() {
    PS | tee -a $1
}

# WATCH
function WT() {
    local timeout=10 clr
    local -a clr_opt timeout_opt help_opt

    zparseopts -D -E -- \
        c=clr_opt       \
        t:=timeout_opt  \
        h=help_opt      \
        -help=help_opt  \
    || return 1
    [[ $1 == -- ]] && shift

    (( $#help_opt    )) && { echo "Usage: WT [-c] [-t timeout] command..."; return 0 }
    (( $#clr_opt     )) && clr=true
    (( $#timeout_opt )) && timeout=${timeout_opt[2]}

    local count=1
    while true; do
        [[ -n $clr ]] && clear >/dev/tty
        echo -e "\n>> [$(date '+%Y-%m-%d %H:%M:%S')] [$count] $*" >/dev/tty
        eval "$@"
        let count+=1
        sleep $timeout
    done
}

globalias() {
  if [[ $LBUFFER =~ '[A-Z0-9]+$' ]]; then
    zle _expand_alias
    zle expand-word
  fi
  # zle self-insert # inserts keys used to activate
  print -n " "
}
zle -N globalias
# bindkey " " globalias                 # space key to expand globalalias
# bindkey "^ " magic-space              # control-space to bypass completion
bindkey -M emacs "^ " globalias                 # space key to expand globalalias
bindkey -M viins "^ " globalias                 # space key to expand globalalias
bindkey -M emacs " " magic-space              # control-space to bypass completion
bindkey -M viins " " magic-space              # control-space to bypass completion
bindkey -M isearch " " magic-space    # normal space during searches
