# GitHub classic API tokens
# - [x] repo
# - [x] admin:org
# - [x] project
export GITHUB_API_TOKEN_COM={{ .github_api_token_com }}
export GITHUB_API_TOKEN_WDF={{ .github_api_token_wdf }}
export GITHUB_API_TOKEN_TOOLS={{ .github_api_token_tools }}
