{{- if eq .chezmoi.os "darwin" -}}
# vim: ft=zsh
# GitHub classic API tokens
# - [x] repo
# - [x] admin:org
# - [x] project
# all GitHub configs defined in [data.github] table in chezmoi.toml will be exported as GITHUB_<NAME>

{{- if (index . "github") }}
{{- range $name, $value := .github }}
export GITHUB_{{ upper $name }}={{ $value }}
{{- end }}
{{- end }}
{{- end }}
