{{- if eq .chezmoi.os "darwin" -}}
# vim: ft=zsh
# all tokens defined in [data.tokens] table in chezmoi.toml will be exported as TOKEN_<NAME>
#
{{- if (index . "tokens") }}
{{- range $name, $value := .tokens }}
export TOKEN_{{ upper $name }}={{ $value }}
{{- end }}
{{- end }}
{{- end }}
