{{- if eq .chezmoi.hostname "DNWJGT2PTJ" -}}
# vim: ft=zsh
k() { u8s kubectl "$@" }
compdef k=kubectl

alias kn="u8s set --namespace"
alias kc="u8s set --context"
alias kk="u8s set --kubeconfig"

h() { u8s helm "$@" }
compdef h=helm
h3() { u8s helm3 "$@" }
compdef h3=helm

alias ke='k exec -ti'
alias kl='k logs'
alias klf='k logs -f'
alias kg='k get'
alias kga='k get --all-namespaces'
alias kgm='k get -n metal-servers'
alias kgp='k get pods -o wide'
alias kgpa='k get pods -o wide --all-namespaces'
alias kgn='k get nodes -L container-linux-update.v1.coreos.com/version -L failure-domain.beta.kubernetes.io/zone'
alias kds='k describe service'

alias -g OY="-o yaml"
alias -g OYL="-o yaml | bat -l yaml"
alias -g OW="-o wide"

function u8s_env() {
  u8s env | while IFS='=' read -r k v; do export "$k"="$v"; done
}

function eval-metal() {
    u8s_env
    if [ -z "$U8S_KUBECONFIG" ]; then
        echo "kubectl KUBECONFIG missing, exiting." >&2
        return 1
    fi
    echo ">> eval-metal in $U8S_CONTEXT"
    read mns mpod mcont <<<$(k get pods --all-namespaces -o wide | grep 'metal-operator-controller-manager' | grep -v Completed | awk '{print $1, $2, $8}')
    read bns bpod bcont <<<$(k get pods --all-namespaces -o wide | grep 'boot-operator-controller-manager' | grep -v Completed | awk '{print $1, $2, $8}')
    read dns dpod dcont <<<$(k get pods --all-namespaces -o wide | grep 'metal-operator-dnsmasq' | grep -v Completed | awk '{print $1, $2, $8}')
    read ans apod acont <<<$(k get pods --all-namespaces -o wide | grep -e 'argora-remote-controller-manager' -e 'argora-controller-manager' | grep -v Completed | awk '{print $1, $2, $8}')
    printf ">> %-15s\n>  %3s=%-20s %4s=%-50s %5s=%s\n" \
        "metal-operator" mns "$mns" mpod "$mpod" mcont "$mcont"
    printf ">> %-15s\n>  %3s=%-20s %4s=%-50s %5s=%s\n" \
        "boot-operator" bns "$bns" bpod "$bpod" bcont "$bcont"
    printf ">> %-15s\n>  %3s=%-20s %4s=%-50s %5s=%s\n" \
        "dnsmasq" dns "$dns" dpod "$dpod" dcont "$dcont"
    printf ">> %-15s\n>  %3s=%-20s %4s=%-50s %5s=%s\n" \
        "argora-remote" ans "$ans" apod "$apod" acont "$acont"
    export mns mpod mcont bns bpod bcont dns dpod dcont ans apod acont
}

function env-check() {
    case $1 in
        m*)
            if [ -z "$mns" ] || [ -z "$mpod" ]; then
                echo "no metal-operator env found, run eval-metal first." >&2
                return 1
            fi
            ;;
        b*)
            if [ -z "$bns" ] || [ -z "$bpod" ]; then
                echo "no boot-operator env found, run eval-metal first." >&2
                return 1
            fi
            ;;
        d*)
            if [ -z "$dns" ] || [ -z "$dpod" ]; then
                echo "no dnsmasq env found, run eval-metal first." >&2
                return 1
            fi
            ;;
        a*)
            if [ -z "$ans" ] || [ -z "$apod" ]; then
                echo "no argora-remote env found, run eval-metal first." >&2
                return 1
            fi
            ;;
        *)
            echo "Unknown component prefix: $1, expected m*, b*, d* or a*." >&2
            return 1
            ;;
    esac
}

function _kube-logs() {
    if [ $# -lt 2 ]; then
        echo "Usage: _kube-logs <namespace> <podname>" >&2
        return 1
    fi
    ns=$1
    pod=$2
    shift 2
    if [ -z "$U8S_KUBECONFIG" ]; then
        echo "k KUBECONFIG missing, exiting." >&2
        return 1
    fi
    LOGFILE=$HOME/log/$(date +%Y%m%d_%H%M%S)_${pod}.log
    trap 'echo -e "\n\n> aborted.\n> logs saved to $LOGFILE"; return' INT
    k logs $* -n $ns $pod 2>&1 | tee $LOGFILE
    [ $? ] && echo -e "\n\n> logs saved to $LOGFILE"
    trap - INT
}

function kget-logs() {
    env-check $1 || return 1
    case $1 in
        m*)
            shift 1
            _kube-logs $mns $mpod $*
            ;;
        b*)
            shift 1
            _kube-logs $bns $bpod $*
            ;;
        d*)
            shift 1
            _kube-logs $dns $dpod $*
            ;;
        a*)
            shift 1
            _kube-logs $ans $apod $*
            ;;
        *)
            echo "Unknown component prefix: $1, expected m*, b*, d* or a*." >&2
            return 1
            ;;
    esac
}

function kget-leases() {
    env-check d || return 1
    echo "> leases from ns: \"$dns\" pod: \"$dpod\" /var/lib/misc/dnsmasq.leases:"
    kubectl exec -it -n $dns $dpod -- cat /var/lib/misc/dnsmasq.leases
}
{{- end }}
