{{- $devcontainer := or (stat "/.dockerenv" | not | not) (env "REMOTE_CONTAINERS" | not | not) -}}
{{- $codespaces := env "CODESPACES" | not | not -}}
[data]
    devcontainer = {{ $devcontainer }}
    codespaces = {{ $codespaces }}
