{{ if ne .chezmoi.os "linux" -}}
.config/dunst
.config/foot
.config/fuzzel
.config/ironbar
.config/sway
.config/swaync
.config/swappy
.config/waybar
.config/wofi
{{ end -}}
{{ if ne .chezmoi.os "darwin" -}}
.config/aerospace
{{ end -}}

